:root {
	--color-background: #000;
	--color-current: #000;
	--color-next: #000;
}

body {
	position: absolute;
	width: 60vw;
	top: 20vh;
	left: 20vw;
	margin: 0;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	background: var(--color-background);
}

body span {
	display: block;
	width: 100%;
}

#time-left {
	position: absolute;
	top: -0.3em;
	text-align: center;
	font-size: 8em;
	color: var(--color-current);
	z-index: -1;
	opacity: 0.2;
}

#current-section {
	color: var(--color-current);
	transition: color 400ms;
	cursor: pointer;
}

#next-section {
	text-align: right;
	color: var(--color-next);
	transition: color 400ms;
	cursor: pointer;
}

#progress-bar {
	height: 1em;
	margin: 0.5em 0 0.5em 0;
	background: var(--color-current);
	transition: width 200ms, color 400ms;
}