:root {
	--color-background: #000;
	--color-current: #000;
	--color-next: #000;
}

main {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 16rem;
	border-radius: 1rem;
	box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
	padding: 1.4rem;
	font-size: 1.2em;
	font-family: sans-serif;
	font-weight: bold;
	background: var(--color-background);
}

#current-section {
	color: var(--color-current);
	transition: color 400ms;
	cursor: pointer;
}

#next-section {
	float: right;
	color: var(--color-next);
	opacity: 0.5;
	transition: color 400ms;
	cursor: pointer;
}

#progress-bar {
	height: 2rem;
	min-width: 2rem;
	margin-top: 1rem;
	border-radius: 1rem;
	background: var(--color-current);
	transition: width 200ms, color 400ms;
}