:root {
	--color-background: #000;
	--color-current: #000;
	--color-next: #000;
}

@font-face {
	font-family: "Inter Black";
	src: url("assets/inter_black.woff");
}

* {
	text-transform: uppercase;
}

body {
	margin: 0;
	font-family: "Inter Black", sans-serif;
	font-size: calc(4vmin + 20px);
	color: var(--color-current);
	background: var(--color-background);
}

main {
	margin: 1em;
	padding: calc(30vmin - 140px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: color 400ms;
}

main label {
	display: block;
	font-size: 0.3em;
}

main p {
	margin-top: 0;
	margin-bottom: 0.3em;
}

button {
	display: inline-block;
	padding: 0.5em;
	font-size: inherit;
	line-height: 0;
	background: var(--color-current);
	border: none;
	cursor: pointer;
}

button svg {
	width: 1.5em;
	height: 1.5em;
}

button path {
	fill: var(--color-background);
}

#time-left {
	font-size: 2em;
}

#progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	background: var(--color-current);
	opacity: 0.2;
	transition: width 200ms, color 400ms;
	pointer-events: none;
	z-index: -1;
}
